<div class="container">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Nome da munição" class="nome_municao"/>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder="Quant." class="quant_municao"/>
        </div>
        <div class="col-md-1">
            <a class="add_municao"><i class="far fa-plus-square"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table_municao" style="margin-bottom: 200px;">
                <tr style="text-align:left;">
                    <th class="mediaeval">Munição</th>
                    <th class="mediaeval">Quant</th>
                    <th class="mediaeval">Deletar</th>
                </tr>
            </table>
        </div>
    </div>
</div>